body {
	display: flex;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	background-color: #272727;
}

.origin,
.receiver {
	border: 2px dashed blue;
	height: 300px;
	width: 400px;
	margin: 10px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	
	/* Disallowed space inside divs from being selected when trying to drag something inside */
	-webkit-user-select: none;
	user-select: none;
}

.origin {
	overflow-x: hidden;
	overflow-y: scroll;
}

.draggable {
	height: 100px;
	width: 100px;
	background: green;

	/* DEBUG */
	border: 1px solid red;
	display: inline-block;
}

.draggable.holding {
	box-shadow: 0 0 10px blue;
}